.arrowNext,
.arrowPrev {
  top: -120%;
  /* transform: translateY(-50%); */
  z-index: 1;
  cursor: pointer;
  position: absolute;
  width: 16px; /* Размер иконок стрелок */
  height: 30px;
}
.arrowNext:hover path,
.arrowNext:focus path,
.arrowPrev:hover path,
.arrowPrev:focus path {
  fill: red;
}
.arrowNext {
  transform: rotate(180deg);
  left: -10px;
}
.arrowPrev {
  left: 10px;
}

@media (min-width: 1280px) {
  .arrowNext,
  .arrowPrev {
    width: 40px;
    height: 74px;
  }
  .arrowPrev {
    left: -10px;
  }
  .arrowNext {
    left: -5px;
  }
}
