.searchBar {
  display: flex;
}

.searchButton {
  background-color: inherit;
  display: flex;
  align-items: center;
  min-width: 20px;
}
.searchButton img {
  display: flex;
  width: 20px;
}
.searchInput {
  max-width: 80px;
  background-color: transparent;
  border-radius: 5px;
}
@media (min-width: 1280px) {
  .searchInput {
    max-width: 250px;
  }
}
