.slider-container {
  width: clamp(20rem, 2.857rem + 85.714vi, 80rem);
  margin-bottom: 73px;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  max-width: 299px;
  border: 1px solid var(--brown-light);
  margin-left: 50%;
  transform: translateX(-50%);
}
.lable {
  font-size: 10px;
  text-transform: uppercase;
  color: var(--brown-light);
  margin-right: auto;

  padding: 4px 5.5px;
  width: 60px;
  background-color: var(--tomato-light);
}
.cardImg {
  width: 200px;

  margin-bottom: 20px;
}
.descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.name {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
.prise {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.customDots {
  display: flex !important;
  justify-content: center;
  gap: 10px;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 40px;
}

.customDot {
  width: 12px;
  height: 12px;
  background-color: var(--dark-dot-inactive);
  border-radius: 50%;
  margin: 0 6px;
}

.customDotActive {
  background-color: var(--tomato-light);
}

@media (min-width: 768px) {
  .card {
    width: 224px !important;
    margin-bottom: 41px;
  }
  .cardImg {
    width: 204px;
  }
  .customNextArrow,
  .customPrevArrow {
    width: 40px;
    height: 40px;
    border: 5px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 110;
    position: absolute;
  }

  .customNextArrow {
    right: 10px;
  }

  .customPrevArrow {
    left: 10px;
  }
}

@media (min-width: 1280px) {
  .card {
    margin-bottom: 50px;
  }
}
